/dist/*
!/dist/public/
/dist/public/*
!/dist/public/uploads/
/dist/public/uploads/*
!/dist/public/uploads/categories/
/dist/public/uploads/categories/*
!/dist/public/uploads/brands/
/dist/public/uploads/brands/*
/node_modules/